node_modules
dist
prettier.config.js
synpress.config.ts
tailwind.config.js

packages/arb-token-bridge/craco.config.js
packages/arb-token-bridge/prettier.config.js
packages/arb-token-bridge/build/static/js/*.js
packages/arb-token-bridge/tests/**/*.ts
