node_modules
dist
cypress.config.ts
cypress.cctp.config.ts
tailwind.config.ts

packages/arb-token-bridge-ui/prettier.config.cjs
packages/arb-token-bridge-ui/build/static/js/*.js
packages/arb-token-bridge-ui/tests/**/*.ts
