@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Ropa+Sans&family=Montserrat:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-error: #cd0000;
  --toastify-text-color-light: #1a1c1d;
  --toastify-text-color-info: #1a1c1d;
  --toastify-text-color-success: #1a1c1d;
  --toastify-text-color-warning: #1a1c1d;
  --toastify-text-color-error: #1a1c1d;
  --toastify-font-family: 'Space Grotesk', sans-serif;
  --toastify-toast-min-height: 44px;
  --cyan: #DDEAFA;
  --cyan-dark: #11365E;
  --blue-link: #1366C1;
  --blue-arb-one: #002086;
}

* {
  box-sizing: border-box;
  letter-spacing: -0.5px;
}

@layer base {
  body {
    @apply font-serif;
  }
}

#root,
body {
  @apply min-h-screen;
  @apply bg-black;

  letter-spacing: -0.5px;
}

/*** HIDE NUMBER INPUT STEPS BUTTONS ****/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

button,
input {
  outline: none !important;
}

/*react error overlay hidden in dev mode while testing network switches which trow errors*/
body > iframe {
  display: none !important;
}

/* Toast styles */
.Toastify__toast-body {
  padding: 0;
  padding-bottom: 4px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.web3modal-modal-lightbox {
  z-index: 50 !important;
}

input:checked + .slider {
  background-color: #1a1c1d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1a1c1d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Tippy themes */
.tippy-box[data-theme='orange'] {
  background-color: #ffeed3;
  color: #ffeed3;
}

.tippy-box[data-theme='orange'] > .tippy-arrow {
  color: inherit;
}

.tippy-box[data-theme='orange'] > .tippy-content {
  color: #60461f;
}

/*
  Custom
*/
.arb-hover {
  @apply transition duration-200 hover:opacity-80 focus-visible:ring-2 focus-visible:ring-gray-6 active:opacity-90 disabled:border-0 disabled:opacity-100;
}

.hover\:animate-rotate-180:hover {
  transform: rotate(180deg);
}

.hover\:bg-\[rgba\(0\,0\,0\,0\.2\)\]:hover {
  background: rgba(0, 0, 0, 0.2);
}

.focus-visible\:animate-rotate-180:focus-visible {
  transform: rotate(180deg);
}

.bg-gradient-overlay {
  background: linear-gradient(
    179.53deg,
    #000000 19.46%,
    rgba(0, 0, 0, 0.650795) 40.76%,
    rgba(0, 0, 0, 0.462631) 60.09%,
    rgba(255, 255, 255, 0) 99.6%
  );
}

.text-explore-arbitrum-project-name {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/*
  animate.css (https://github.com/animate-css/animate.css
*/
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.animate__flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.roundedTabRight[data-headlessui-state~='selected']::after {
  height: 15px;
  width: 15px;
  position: absolute;
  right: -15px;
  bottom: 0;
  background: url('/images/RoundedTab.svg');
  z-index: 50;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
}

.roundedTabLeft[data-headlessui-state~='selected']::before {
  height: 15px;
  width: 15px;
  position: absolute;
  left: -15px;
  bottom: 0;
  background: url('/images/RoundedTab.svg');
  z-index: 50;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.roundedTab:not([data-headlessui-state~='selected']) > img {
  display: none;
}
