@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  letter-spacing: -0.5px;
}

@layer base {
  body {
    @apply font-serif;
  }
}

#root,
body {
  @apply min-h-screen;
  @apply bg-black;

  letter-spacing: -0.5px;
}

/*** HIDE NUMBER INPUT STEPS BUTTONS ****/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

button,
input {
  outline: none !important;
}

/*react error overlay hidden in dev mode while testing network switches which trow errors*/
body > iframe {
  display: none !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1a1c1d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1a1c1d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
  TODO:

  Once we upgrade to Tailwind CSS v3, change to https://tailwindcss.com/docs/adding-custom-styles#using-arbitrary-values
*/

/* top */
.top-100px {
  top: 100px;
}

/* left */
.left-89px {
  left: 89px;
}

/* max-w */
.max-w-1440px {
  max-width: 1440px;
}

/* h */
.h-100px {
  height: 100px;
}

/* min-h */
.min-h-screen-minus-100px {
  min-height: calc(100vh - 100px);
}

/* bg */
.bg-9f9f9f {
  background-color: #9f9f9f;
}

.bg-383433 {
  background-color: #383433;
}

/* border */
.border-575251 {
  border-color: #575251;
}

/* lg: */
@media (min-width: 1024px) {
  /* lg:w */
  .lg\:w-466px {
    width: 466px;
  }

  /* lg:min-w */
  .lg\:min-w-540px {
    min-width: 540px;
  }

  .lg\:min-w-896px {
    min-width: 896px;
  }

  /* lg:max-w */
  .lg\:max-w-448px {
    max-width: 448px;
  }

  .lg\:max-w-490px {
    max-width: 490px;
  }

  .lg\:max-w-628px {
    max-width: 628px;
  }

  .lg\:max-w-725px {
    max-width: 725px;
  }

  /* lg:max-h */
  .lg\:max-h-screen-minus-100px {
    max-height: calc(100vh - 100px);
  }

  /* lg:bg */
  .lg\:bg-dialog {
    background: rgba(0, 0, 0, 0.6);
  }

  /* lg:shadow */
  .lg\:shadow-dialog {
    box-shadow: 0px 4px 12px #acacac;
  }

  .lg\:shadow-account-popover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }

  .lg\:shadow-select-token-popover {
    box-shadow: 0px 4px 12px #9e9e9e;
  }

  .lg\:shadow-select-token-list {
    box-shadow: 0px 4px 10px rgba(120, 120, 120, 0.25);
  }
}

/* Custom */

.arb-hover {
  @apply transition duration-200 hover:opacity-80 focus-visible:ring-2 focus-visible:ring-gray-6 active:opacity-90 disabled:border-0 disabled:opacity-100;
}

.bg-gradient-overlay {
  background: linear-gradient(
    179.53deg,
    #000000 19.46%,
    rgba(0, 0, 0, 0.650795) 40.76%,
    rgba(0, 0, 0, 0.462631) 60.09%,
    rgba(255, 255, 255, 0) 99.6%
  );
}

/* shadow */
.shadow-transfer-panel {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.shadow-network-switch-button {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
