name: E2E tests

on:
  workflow_call:
    inputs:
      test_type:
        required: true
        type: string

env:
  NEXT_PUBLIC_INFURA_KEY: ${{ secrets.NEXT_PUBLIC_INFURA_KEY }}
  NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID }}
  THE_GRAPH_NETWORK_API_KEY: ${{ secrets.THE_GRAPH_NETWORK_API_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  load-e2e-files:
    name: "Load e2e files"
    if: inputs.test_type.type != 'cctp'
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.e2eFiles }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: set-matrix
        run: echo "e2eFiles=$(node .github/workflows/formatSpecfiles.js ${{ inputs.test_type }} | jq . --compact-output)" >> $GITHUB_OUTPUT

  test-e2e:
    name: "Test E2E - ${{ matrix.test.name }}${{ matrix.test.type == 'orbit' && ' with L3' || ''}}"
    needs: [load-e2e-files]
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.load-e2e-files.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Restore build artifacts
        uses: ./.github/actions/build-artifacts/restore

      - name: Install cypress
        run: yarn cypress install

      - name: Install linux dependencies
        run: |
          sudo apt-get install --no-install-recommends -y \
          fluxbox \
          xvfb

      - name: Run xvfb and fluxbox
        run: |
          Xvfb :0 -screen 0 1366x768x24 -listen tcp -ac &
          fluxbox &
        env:
          DISPLAY: :0.0

      - name: Run nitro testnode
        if: inputs.test_type != 'cctp'
        uses: OffchainLabs/actions/run-nitro-test-node@a20a76172ce524832ac897bef2fa10a62ed81c29
        with:
          nitro-testnode-ref: aab133aceadec2e622f15fa438f6327e3165392d
          l3-node: ${{ matrix.test.type == 'orbit' }}
          no-l3-token-bridge: ${{ matrix.test.type != 'orbit' }}

      - name: Run e2e tests via cypress-io/github-action
        uses: cypress-io/github-action@8d3918616d8ac34caa2b49afc8b408b6a872a6f5 # pin@v6.7.1
        with:
          start: yarn start
          command: "yarn test:e2e${{ (matrix.test.type == 'cctp' && ':cctp') || (matrix.test.type == 'orbit' && ':orbit') || '' }} --browser chromium"
          wait-on: http://127.0.0.1:3000
          wait-on-timeout: 120
          spec: ./packages/arb-token-bridge-ui/tests/e2e/specs/*
        env:
          DISPLAY: :0.0
          TEST_FILE: ${{ matrix.test.file }}
          SKIP_METAMASK_SETUP: true
          CYPRESS_RECORD_VIDEO: ${{ matrix.test.recordVideo }}
          PRIVATE_KEY_CUSTOM: ${{ secrets.E2E_PRIVATE_KEY }}
          PRIVATE_KEY_USER: ${{ secrets.E2E_PRIVATE_KEY_USER }}
          PRIVATE_KEY_CCTP: ${{ secrets.E2E_PRIVATE_KEY_CCTP }}
          NEXT_PUBLIC_IS_E2E_TEST: true
          NEXT_PUBLIC_INFURA_KEY: ${{ secrets.NEXT_PUBLIC_INFURA_KEY }}
          NEXT_PUBLIC_LOCAL_ETHEREUM_RPC_URL: http://127.0.0.1:8545
          NEXT_PUBLIC_LOCAL_ARBITRUM_RPC_URL: http://127.0.0.1:8547
          NEXT_PUBLIC_LOCAL_L3_RPC_URL: http://127.0.0.1:3347

      - name: Archive e2e artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-artifacts-${{ github.sha }}-${{ matrix.test.name }}-${{ inputs.test_type }}
          path: |
            ./packages/arb-token-bridge-ui/cypress/videos
            ./packages/arb-token-bridge-ui/cypress/screenshots
          if-no-files-found: 'ignore'
        continue-on-error: true

  clean-up:
    name: "Clean Up"
    runs-on: ubuntu-22.04
    needs: [test-e2e]
    if: always()
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install gh-actions-cache
        run: gh extension install actions/gh-actions-cache
      - name: Delete build artifacts
        run: |
          if gh actions-cache list | grep build-artifacts-${{ github.run_id }}-${{ github.run_attempt }}
          then
            gh actions-cache delete build-artifacts-${{ github.run_id }}-${{ github.run_attempt }} --confirm
          fi
        shell: bash
