name: "PR Title Check"
# PR title is checked according to https://www.conventionalcommits.org/en/v1.0.0/

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          headerPattern: '^(?:(?=.{1,72}$)(\w*)(?:\(([\w$.\-*/ ]*)\))?: (.*))$'
