name: PR approved workflow

on:
  workflow_dispatch:
  pull_request_review:
    types:
      - submitted

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-cctp
  cancel-in-progress: true

env:
  NEXT_PUBLIC_INFURA_KEY: ${{ secrets.NEXT_PUBLIC_INFURA_KEY }}
  NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID }}
  THE_GRAPH_NETWORK_API_KEY: ${{ secrets.THE_GRAPH_NETWORK_API_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  check-files:
    name: Check files
    runs-on: ubuntu-8
    outputs:
      run_tests: ${{ steps.check-files.outputs.run_tests }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/check-files
        id: check-files

  should-run-tests:
    runs-on: ubuntu-8
    needs: [check-files]
    outputs:
      should_run: ${{ steps.should-run-tests.outputs.should_run }}
    steps:
      - name: Check trigger type and conditions
        id: should-run-tests
        run: |
          if [[ "${{ github.event_name }}" == "pull_request_review" ]]; then
            if [[ "${{ github.event.review.state }}" == "approved" && "${{ needs.check-files.outputs.run_tests }}" == "true" && "${{ contains(github.event.pull_request.title, 'hotfix') }}" == "false" ]]; then
              echo "should_run=true" >> $GITHUB_OUTPUT
            else
              echo "should_run=false" >> $GITHUB_OUTPUT
            fi
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "should_run=true" >> $GITHUB_OUTPUT
          else
            echo "should_run=false" >> $GITHUB_OUTPUT
          fi

  build:
    name: "Build"
    runs-on: ubuntu-8
    needs: [should-run-tests]
    if: needs.should-run-tests.outputs.should_run == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Build
        run: yarn build
        env:
          NEXT_PUBLIC_IS_E2E_TEST: true
          NEXT_PUBLIC_INFURA_KEY: ${{ secrets.NEXT_PUBLIC_INFURA_KEY }}
          NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID }}
          THE_GRAPH_NETWORK_API_KEY: ${{ secrets.THE_GRAPH_NETWORK_API_KEY }}

      - name: Cache build artifacts
        uses: ./.github/actions/build-artifacts/cache

  cctp-e2e-tests:
    name: "CCTP E2E Tests"
    needs: [build, check-files]
    uses: ./.github/workflows/e2e-tests.yml
    with:
      test_type: 'cctp'
    secrets: inherit

  test-e2e-success:
    name: "CCTP Test E2E Success"
    runs-on: ubuntu-8
    needs: [cctp-e2e-tests]
    if: always()
    steps:
      - name: CCTP E2E Succeeded
        if: needs.cctp-e2e-tests.result == 'success' || needs.cctp-e2e-tests.result == 'skipped'
        run: echo "CCTP E2E tests passed"

      - name: CCTP E2E Failed
        if: needs.cctp-e2e-tests.result != 'success' && needs.cctp-e2e-tests.result != 'skipped'
        run: exit 1
