name: Test

on:
  pull_request:
    branches: ["master"]
    types:
      - opened
      - reopened
      - synchronize
      # we skip ci for draft PRs
      # https://github.com/reviewdog/action-eslint/issues/29#issuecomment-985939887
      - ready_for_review
  workflow_dispatch:
  merge_group:

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  NEXT_PUBLIC_INFURA_KEY: ${{ secrets.NEXT_PUBLIC_INFURA_KEY }}
  NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID }}
  THE_GRAPH_NETWORK_API_KEY: ${{ secrets.THE_GRAPH_NETWORK_API_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  check-files:
    name: Check files
    runs-on: ubuntu-latest
    outputs:
      run_tests: ${{ steps.check-files.outputs.run_tests }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/check-files
        id: check-files

  build:
    name: 'Build'
    needs: [check-files]
    uses: ./.github/workflows/build.yml
    secrets: inherit

  test-ui:
    name: "Test UI"
    runs-on: ubuntu-latest
    needs: [build, check-files]
    if: needs.check-files.outputs.run_tests == 'true' && github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Restore build artifacts
        uses: ./.github/actions/restore-build-artifacts

      - name: Start UI and Test
        run: yarn start-server-and-test 'start' http://127.0.0.1:3000 'yarn test:ci'

  test-visual-regression:
    name: "Visual Regression Test"
    runs-on: ubuntu-latest
    needs: [build, check-files]
    if: needs.check-files.outputs.run_tests == 'true' && github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Restore build artifacts
        uses: ./.github/actions/restore-build-artifacts

      - name: Install Playwright browsers
        run: yarn workspace arb-token-bridge-ui playwright install --with-deps

      - name: Run visual regression tests
        run: yarn start-server-and-test "yarn workspace arb-token-bridge-ui start" http://127.0.0.1:3000 "yarn workspace arb-token-bridge-ui test:widget-snapshot"

      - name: Upload Playwright report in case of failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: packages/arb-token-bridge-ui/playwright-report/
          retention-days: 5

  audit:
    name: "Audit"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Run audit
        run: yarn audit:ci

  check-formatting:
    name: "Check Formatting"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Check formatting with Prettier
        run: yarn prettier:check

      - name: Check formatting with ESLint
        run: yarn lint

  e2e-tests:
    name: "E2E Tests"
    needs: [build, check-files]
    if: needs.check-files.outputs.run_tests == 'true' && github.event.pull_request.draft == false
    uses: ./.github/workflows/e2e-tests.yml
    with:
      test_type: 'regular'
    secrets: inherit

  test-e2e-success:
    name: "Test E2E Success"
    runs-on: ubuntu-latest
    needs: [e2e-tests]
    if: always()
    steps:
      - name: Regular E2E Succeeded
        if: needs.e2e-tests.result == 'success' || needs.e2e-tests.result == 'skipped'
        run: echo "Regular E2E tests passed"

      - name: Regular E2E Failed
        if: needs.e2e-tests.result != 'success' && needs.e2e-tests.result != 'skipped'
        run: exit 1

